# User Recommendation System

## Data

In [123]:
# Importing necessary library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [124]:
linkedin=pd.read_csv("linkedin.csv",index_col=False)

In [125]:
linkedin.head(2)

,index,category,linkedin,profile_picture,description,Experience,Name,position,location,skills,clean_skills
0,1,HR,https://in.linkedin.com/in/sameer-wadhawan-b55...,https://media-exp1.licdn.com/dms/image/C5603AQ...,"An experienced HR professional, HR mentor and...",Senior Vice President & Head of HRCompany Name...,Sameer Wadhawan,Senior Vice President and Head of HR- Samsung ...,"Gurgaon, Haryana, India","['\nPerformance Management\n', '\nHuman Resour...","['Performance Management', 'Human Resources', ..."
1,2,HR,https://in.linkedin.com/in/adarsh-krishna-a4ab0a5,https://media-exp1.licdn.com/dms/image/C5103AQ...,"Head Talent Acquisition, HR Leader and Strateg...",Head of Talent Acquisition - India & APAC and ...,Adarsh Krishna,Head Talent Acquisition and HR Leader for Heal...,"Pune, Maharashtra, India","['\nTalent Acquisition\n', '\nEmployee Engagem...","['Talent Acquisition', 'Employee Engagement', ..."

In [126]:
linkedin.shape

(1251, 11)

In [127]:
linkedin= linkedin.drop('profile_picture', axis=1)
linkedin= linkedin.drop('linkedin', axis=1)
linkedin= linkedin.drop('skills', axis=1)

In [128]:
linkedin.head(2)

,index,category,description,Experience,Name,position,location,clean_skills
0,1,HR,"An experienced HR professional, HR mentor and...",Senior Vice President & Head of HRCompany Name...,Sameer Wadhawan,Senior Vice President and Head of HR- Samsung ...,"Gurgaon, Haryana, India","['Performance Management', 'Human Resources', ..."
1,2,HR,"Head Talent Acquisition, HR Leader and Strateg...",Head of Talent Acquisition - India & APAC and ...,Adarsh Krishna,Head Talent Acquisition and HR Leader for Heal...,"Pune, Maharashtra, India","['Talent Acquisition', 'Employee Engagement', ..."

In [129]:
linkedin=linkedin.rename(columns={"clean_skills":'skills',
                                  "category":"industry",
                                  "position":"jobTitle",
                                  "index":"userId"})

In [130]:
emptyexp = linkedin['Experience'].isnull().sum()
print(emptyexp)
emptylocation = linkedin['location'].isnull().sum()
print(emptylocation)

25
12

In [131]:
linkedin.dropna(subset=['Experience'], inplace=True)
emptyexp = linkedin['Experience'].isnull().sum()
print(emptyexp)

0

In [132]:
linkedin = linkedin[~linkedin['location'].str.contains('connections', case=False)]

linkedin.dropna(subset=['location'], inplace=True)
emptylocation = linkedin['location'].isnull().sum()
print(emptylocation)

0

In [133]:
linkedin.shape

(1216, 8)

In [134]:
linkedin.head(1)

,userId,industry,description,Experience,Name,jobTitle,location,skills
0,1,HR,"An experienced HR professional, HR mentor and...",Senior Vice President & Head of HRCompany Name...,Sameer Wadhawan,Senior Vice President and Head of HR- Samsung ...,"Gurgaon, Haryana, India","['Performance Management', 'Human Resources', ..."

In [135]:
emptyskills = linkedin['skills'].apply(lambda x: x == [""]).sum()
print(emptyskills)

0

In [136]:
#change location to store city and country:
cities = []
countries = []

# Loop through each location in the DataFrame
for location in linkedin['location']:
    location_parts = location.split(', ')
    if len(location_parts) > 1:
        country = location_parts[-1]
        city = location_parts[0]
    else:
        # If there's only one part, consider it as the country
        country = location_parts[0]
        city = ""  # Set city to an empty string
    cities.append(city)
    countries.append(country)

# Add new columns for city and country to the DataFrame
linkedin['City'] = cities
linkedin['Country'] = countries

linkedin= linkedin.drop('location', axis=1)

# Display the updated DataFrame
print(linkedin)

      userId  industry                                        description  \
0          1        HR  An experienced HR professional,  HR mentor and...
1          2        HR  Head Talent Acquisition, HR Leader and Strateg...
2          3        HR  A Talent Acquisition and HR professional with ...
3          4        HR                                                NaN
4          5        HR  Over 18 Years of experience in IT /ITES  / BPO...
...      ...       ...                                                ...
1246    1753  Aviation                                                NaN
1247    1754  Aviation                                                NaN
1248    1755  Aviation  An MBA Graduate specialized in Aviation Manage...
1249    1756  Aviation                                                NaN
1250    1757  Aviation  Currently I'm pursuing MBA in Aviation Managem...

                                             Experience  \
0     Senior Vice President & Head of HRCompany Name...
1     Head of Talent Acquisition - India & APAC and ...
2     Company NameIBM INDIA Pvt LtdTotal Duration8 y...
3     HR/Admin/Personnel/LegalCompany NameHR and HR ...
4     Company NameEXLTotal Duration6 yrs 4 mosTitleV...
...                                                 ...
1246  airline and aviation industryCompany Nameairli...
1247  Production ManagerCompany NameTANEJA AEROSPACE...
1248  Human Resources ExecutiveCompany NameGoAirDate...
1249  Institute of Logistics and Aviation management...
1250  Executive Revenue ManagerCompany NameHospitali...

                           Name  \
0               Sameer Wadhawan
1                Adarsh Krishna
2                 Shrivas Mohit
3                      HR Hopes
4                  Rakesh Kumar
...                         ...
1246  britishairhostess academy
1247          Ramaiah Manjunath
1248            Shubham Pradhan
1249              Alfiya Shaikh
1250            ABHISHEK TIWARI

                                               jobTitle  \
0     Senior Vice President and Head of HR- Samsung ...
1     Head Talent Acquisition and HR Leader for Heal...
2                                                HR@IBM
3                                                    HR
4     Vice President - Digital HR Transformation Lea...
...                                                 ...
1246   airline and aviation industry at airline company
1247  Production Manager at TANEJA AEROSPACE AND AVI...
1248  HR Executive at GoAir  |  MBA Graduate\n  Spec...
1249  Student at Institute of Logistics and Aviation...
1250  Pursuing MBA in Aviation Management from Insti...

                                                 skills           City Country
0     ['Performance Management', 'Human Resources', ...        Gurgaon   India
1     ['Talent Acquisition', 'Employee Engagement', ...           Pune   India
2     ['Human Resources', 'Recruiting', 'Team Manage...      Bengaluru   India
3                                                  ['']      Pune Area   India
4     ['Team Management', 'Human Resources', 'Employ...  Central Delhi   India
...                                                 ...            ...     ...
1246                                               ['']     Chandigarh   India
1247                                               ['']    Krishnagiri   India
1248    ['Management', 'Goal Seek', 'Customer Service']         Mumbai   India
1249                         ['Tally ERP', 'Workshops']         Mumbai   India
1250            ['Six Sigma', 'Management', 'Teamwork']          Thane   India

[1216 rows x 9 columns]

In [137]:
linkedin.dtypes

userId          int64
industry       object
description    object
Experience     object
Name           object
jobTitle       object
skills         object
City           object
Country        object
dtype: object

In [138]:

# Standardize job titles by converting them to lowercase and removing leading/trailing white spaces
linkedin['jobTitle'] = linkedin['jobTitle'].str.lower().str.strip()

# Standardize skills by converting them to lowercase and removing leading/trailing white spaces
linkedin['skills'] = linkedin['skills'].str.lower().str.strip()

# Standardize industry names by converting them to lowercase and removing leading/trailing white spaces
linkedin['industry'] = linkedin['industry'].str.lower().str.strip()

# Standardize city names by converting them to lowercase and removing leading/trailing white spaces
linkedin['City'] = linkedin['City'].str.lower().str.strip()

# Standardize country names by converting them to lowercase and removing leading/trailing white spaces
linkedin['Country'] = linkedin['Country'].str.lower().str.strip()



# Create a mapping dictionary to map specific locations to "United States"
location_mapping = {
    'oklahoma area': 'united states',
    'oklahoma': 'united states',
    'greater denver area': 'united states',
    'connecticut': 'united states',
    'pennsylvania area': 'united states',
    'virginia area': 'united states',
    'new mexico': 'united states',
    'michigan': 'united states',
    'dallas/fort worth area': 'united states',
    'greater philadelphia area': 'united states',
    'washington d.c. metro area': 'united states',
    'california area': 'united states',
    'florida area': 'united states',
    'ohio': 'united states',
    'greater minneapolis-st. paul area': 'united states',
    'cote d’ivoire (ivory coast)': 'cote d’ivoire (ivory coast)',  # Leave as is
    'arizona': 'united states',
    'louisiana': 'united states',
    'washington': 'united states',
    'greater san diego area': 'united states',
    'tennessee area': 'united states',
    'maryland area': 'united states',
    'oregon': 'united states',
    'texas area': 'united states',
    'iowa area': 'united states',
    'maryland': 'united states',
    'wisconsin': 'united states',
    'greater atlanta area': 'united states',
    'san francisco bay area': 'united states',
    'new jersey': 'united states',
    'missouri': 'united states',
    'greater boston area': 'united states',
    'new york': 'united states',
    'florida': 'united states',
    'pennsylvania': 'united states',
    'indiana area': 'united states',
    'north carolina area': 'united states',
    'greater milwaukee area': 'united states',
    'north carolina': 'united states',
    'greater chicago area': 'united states',
    'district of columbia': 'united states',
    'massachusetts': 'united states',
    'greater new york city area': 'united states',
    'texas': 'united states',
    'illinois': 'united states',
    'greater los angeles area': 'united states',
    'california': 'united states',
    "canada area": 'canada',
}

default_mapping = {Country: Country for Country in linkedin['Country'].unique()}

# Apply the combined mapping
linkedin['Country'] = linkedin['Country'].map(location_mapping).fillna(linkedin['Country'].map(default_mapping))

In [139]:
unique_counts = linkedin.nunique()
print(unique_counts)

userId         1216
industry         25
description     632
Experience     1187
Name           1187
jobTitle       1147
skills          763
City            298
Country          37
dtype: int64

In [140]:
#get unique values

attributes = ['industry','Country']

for attribute in attributes:
    unique_values = linkedin[attribute].unique()
    print(f"Unique values for {attribute}:")
    for value in unique_values:
        print(value)
    print("\n")

Unique values for industry:
hr
designing
managment
information technology
education
advocate
business development
health & fitness
agricultural
bpo
sales
consultant
digital media
building & construction
automobile
banking
engineering
food & beverages
finance
apparel
accountant
architects
public relations
arts
aviation


Unique values for Country:
india
canada
united states
togo
australia
djibouti
saudi arabia
united kingdom
korea
united arab emirates
hong kong
singapore
ireland
israel
libya
ethiopia
nigeria
cote d’ivoire (ivory coast)
georgia
seychelles
grenada
brunei darussalam
gambia
hungary
luxembourg
cameroon
sri lanka
angola
myanmar
kenya
rwanda
monaco area
mongolia
isle of man
et
jordan
philippines

In [141]:
#change skills to an array of strings not one big 
def skills_to_list(skills_string):
    return ast.literal_eval(skills_string)

linkedin['skills'] = linkedin['skills'].apply(skills_to_list)

In [142]:
overall_skill_count = linkedin['skills'].apply(lambda skills: len(skills)).sum()
print("Overall number of skills:", overall_skill_count)

Overall number of skills: 9016

In [143]:
all_skills = [skill for skills in linkedin['skills'] for skill in skills]
unique_skills_count = len(set(all_skills))

print("Number of unique skills:", unique_skills_count)

Number of unique skills: 2191

In [144]:
linkedin.head(1)

,userId,industry,description,Experience,Name,jobTitle,skills,City,Country
0,1,hr,"An experienced HR professional, HR mentor and...",Senior Vice President & Head of HRCompany Name...,Sameer Wadhawan,senior vice president and head of hr- samsung ...,"[performance management, human resources, tale...",gurgaon,india

In [145]:
print(type(linkedin['skills'][0][0]))

<class 'str'>

In [146]:
empty_skills = linkedin['skills'].apply(lambda skills: all(skill.strip() == '' or skill.strip() == '""' or skill.isspace() for skill in skills))
num_empty_skills = empty_skills.sum()
print("Number of users with empty skills:", num_empty_skills)

Number of users with empty skills: 415

In [147]:
# Filter and print the users with empty skills to make sure 
#if only one of the skills is empty or the entire array
users_with_empty_skills = linkedin[empty_skills]
print("Users with empty skills:")
for index, user in users_with_empty_skills.iterrows():
    print("User:", index)
    print("Skills:", user['skills'])
    print()

Users with empty skills:
User: 3
Skills: ['']

User: 14
Skills: ['']

User: 16
Skills: ['']

User: 25
Skills: ['']

User: 29
Skills: ['']

User: 30
Skills: ['']

User: 31
Skills: ['']

User: 35
Skills: ['']

User: 43
Skills: ['']

User: 48
Skills: ['']

User: 53
Skills: ['']

User: 61
Skills: ['']

User: 64
Skills: ['']

User: 67
Skills: ['']

User: 69
Skills: ['']

User: 71
Skills: ['']

User: 78
Skills: ['']

User: 81
Skills: ['']

User: 85
Skills: ['']

User: 88
Skills: ['']

User: 89
Skills: ['']

User: 91
Skills: ['']

User: 92
Skills: ['']

User: 94
Skills: ['']

User: 97
Skills: ['']

User: 99
Skills: ['']

User: 100
Skills: ['']

User: 101
Skills: ['']

User: 102
Skills: ['']

User: 105
Skills: ['']

User: 106
Skills: ['']

User: 107
Skills: ['']

User: 108
Skills: ['']

User: 112
Skills: ['']

User: 115
Skills: ['']

User: 116
Skills: ['']

User: 117
Skills: ['']

User: 129
Skills: ['']

User: 134
Skills: ['']

User: 136
Skills: ['']

User: 138
Skills: ['']

User: 139
Skills: ['']

User: 141
Skills: ['']

User: 146
Skills: ['']

User: 148
Skills: ['']

User: 149
Skills: ['']

User: 151
Skills: ['']

User: 152
Skills: ['']

User: 163
Skills: ['']

User: 170
Skills: ['']

User: 171
Skills: ['']

User: 172
Skills: ['']

User: 174
Skills: ['']

User: 180
Skills: ['']

User: 182
Skills: ['']

User: 184
Skills: ['']

User: 186
Skills: ['']

User: 192
Skills: ['']

User: 193
Skills: ['']

User: 198
Skills: ['']

User: 201
Skills: ['']

User: 203
Skills: ['']

User: 205
Skills: ['']

User: 208
Skills: ['']

User: 209
Skills: ['']

User: 220
Skills: ['']

User: 225
Skills: ['']

User: 226
Skills: ['']

User: 227
Skills: ['']

User: 228
Skills: ['']

User: 230
Skills: ['']

User: 231
Skills: ['']

User: 232
Skills: ['']

User: 236
Skills: ['']

User: 239
Skills: ['']

User: 241
Skills: ['']

User: 243
Skills: ['']

User: 244
Skills: ['']

User: 261
Skills: ['']

User: 273
Skills: ['']

User: 280
Skills: ['']

User: 283
Skills: ['']

User: 284
Skills: ['']

User: 285
Skills: ['']

User: 287
Skills: ['']

User: 288
Skills: ['']

User: 289
Skills: ['']

User: 295
Skills: ['']

User: 298
Skills: ['']

User: 299
Skills: ['']

User: 309
Skills: ['']

User: 311
Skills: ['']

User: 343
Skills: ['']

User: 349
Skills: ['']

User: 351
Skills: ['']

User: 356
Skills: ['']

User: 362
Skills: ['']

User: 364
Skills: ['']

User: 365
Skills: ['']

User: 374
Skills: ['']

User: 380
Skills: ['']

User: 388
Skills: ['']

User: 404
Skills: ['']

User: 407
Skills: ['']

User: 410
Skills: ['']

User: 416
Skills: ['']

User: 420
Skills: ['']

User: 424
Skills: ['']

User: 430
Skills: ['']

User: 431
Skills: ['']

User: 433
Skills: ['']

User: 434
Skills: ['']

User: 435
Skills: ['']

User: 437
Skills: ['']

User: 440
Skills: ['']

User: 441
Skills: ['']

User: 442
Skills: ['']

User: 443
Skills: ['']

User: 444
Skills: ['']

User: 445
Skills: ['']

User: 447
Skills: ['']

User: 450
Skills: ['']

User: 456
Skills: ['']

User: 460
Skills: ['']

User: 461
Skills: ['']

User: 462
Skills: ['']

User: 464
Skills: ['']

User: 465
Skills: ['']

User: 466
Skills: ['']

User: 467
Skills: ['']

User: 469
Skills: ['']

User: 470
Skills: ['']

User: 472
Skills: ['']

User: 473
Skills: ['']

User: 476
Skills: ['']

User: 478
Skills: ['']

User: 480
Skills: ['']

User: 481
Skills: ['']

User: 482
Skills: ['']

User: 483
Skills: ['']

User: 484
Skills: ['']

User: 485
Skills: ['']

User: 487
Skills: ['']

User: 489
Skills: ['']

User: 490
Skills: ['']

User: 491
Skills: ['']

User: 492
Skills: ['']

User: 493
Skills: ['']

User: 494
Skills: ['']

User: 498
Skills: ['']

User: 499
Skills: ['']

User: 501
Skills: ['']

User: 520
Skills: ['']

User: 524
Skills: ['']

User: 525
Skills: ['']

User: 526
Skills: ['']

User: 527
Skills: ['']

User: 529
Skills: ['']

User: 534
Skills: ['']

User: 538
Skills: ['']

User: 540
Skills: ['']

User: 542
Skills: ['']

User: 545
Skills: ['']

User: 551
Skills: ['']

User: 563
Skills: ['']

User: 570
Skills: ['']

User: 571
Skills: ['']

User: 573
Skills: ['']

User: 574
Skills: ['']

User: 575
Skills: ['']

User: 576
Skills: ['']

User: 577
Skills: ['']

User: 578
Skills: ['']

User: 579
Skills: ['']

User: 580
Skills: ['']

User: 581
Skills: ['']

User: 582
Skills: ['']

User: 583
Skills: ['']

User: 585
Skills: ['']

User: 586
Skills: ['']

User: 587
Skills: ['']

User: 588
Skills: ['']

User: 589
Skills: ['']

User: 590
Skills: ['']

User: 592
Skills: ['']

User: 593
Skills: ['']

User: 594
Skills: ['']

User: 595
Skills: ['']

User: 596
Skills: ['']

User: 597
Skills: ['']

User: 598
Skills: ['']

User: 599
Skills: ['']

User: 600
Skills: ['']

User: 601
Skills: ['']

User: 602
Skills: ['']

User: 604
Skills: ['']

User: 606
Skills: ['']

User: 608
Skills: ['']

User: 610
Skills: ['']

User: 613
Skills: ['']

User: 617
Skills: ['']

User: 621
Skills: ['']

User: 623
Skills: ['']

User: 628
Skills: ['']

User: 632
Skills: ['']

User: 644
Skills: ['']

User: 647
Skills: ['']

User: 650
Skills: ['']

User: 654
Skills: ['']

User: 662
Skills: ['']

User: 664
Skills: ['']

User: 665
Skills: ['']

User: 671
Skills: ['']

User: 674
Skills: ['']

User: 675
Skills: ['']

User: 676
Skills: ['']

User: 679
Skills: ['']

User: 682
Skills: ['']

User: 689
Skills: ['']

User: 691
Skills: ['']

User: 694
Skills: ['']

User: 695
Skills: ['']

User: 697
Skills: ['']

User: 702
Skills: ['']

User: 703
Skills: ['']

User: 706
Skills: ['']

User: 709
Skills: ['']

User: 712
Skills: ['']

User: 717
Skills: ['']

User: 718
Skills: ['']

User: 721
Skills: ['']

User: 727
Skills: ['']

User: 728
Skills: ['']

User: 729
Skills: ['']

User: 730
Skills: ['']

User: 733
Skills: ['']

User: 736
Skills: ['']

User: 742
Skills: ['']

User: 747
Skills: ['']

User: 753
Skills: ['']

User: 758
Skills: ['']

User: 759
Skills: ['']

User: 760
Skills: ['']

User: 762
Skills: ['']

User: 765
Skills: ['']

User: 767
Skills: ['']

User: 770
Skills: ['']

User: 772
Skills: ['']

User: 775
Skills: ['']

User: 778
Skills: ['']

User: 780
Skills: ['']

User: 784
Skills: ['']

User: 785
Skills: ['']

User: 788
Skills: ['']

User: 789
Skills: ['']

User: 794
Skills: ['']

User: 806
Skills: ['']

User: 807
Skills: ['']

User: 808
Skills: ['']

User: 810
Skills: ['']

User: 814
Skills: ['']

User: 819
Skills: ['']

User: 820
Skills: ['']

User: 821
Skills: ['']

User: 823
Skills: ['']

User: 824
Skills: ['']

User: 827
Skills: ['']

User: 828
Skills: ['']

User: 830
Skills: ['']

User: 831
Skills: ['']

User: 835
Skills: ['']

User: 837
Skills: ['']

User: 838
Skills: ['']

User: 842
Skills: ['']

User: 844
Skills: ['']

User: 845
Skills: ['']

User: 847
Skills: ['']

User: 848
Skills: ['']

User: 849
Skills: ['']

User: 851
Skills: ['']

User: 854
Skills: ['']

User: 862
Skills: ['']

User: 863
Skills: ['']

User: 870
Skills: ['']

User: 872
Skills: ['']

User: 873
Skills: ['']

User: 879
Skills: ['']

User: 882
Skills: ['']

User: 885
Skills: ['']

User: 886
Skills: ['']

User: 887
Skills: ['']

User: 890
Skills: ['']

User: 891
Skills: ['']

User: 892
Skills: ['']

User: 893
Skills: ['']

User: 895
Skills: ['']

User: 898
Skills: ['']

User: 899
Skills: ['']

User: 901
Skills: ['']

User: 903
Skills: ['']

User: 906
Skills: ['']

User: 914
Skills: ['']

User: 916
Skills: ['']

User: 919
Skills: ['']

User: 920
Skills: ['']

User: 922
Skills: ['']

User: 923
Skills: ['']

User: 928
Skills: ['']

User: 931
Skills: ['']

User: 933
Skills: ['']

User: 935
Skills: ['']

User: 938
Skills: ['']

User: 939
Skills: ['']

User: 941
Skills: ['']

User: 945
Skills: ['']

User: 947
Skills: ['']

User: 949
Skills: ['']

User: 950
Skills: ['']

User: 951
Skills: ['']

User: 959
Skills: ['']

User: 964
Skills: ['']

User: 965
Skills: ['']

User: 966
Skills: ['']

User: 969
Skills: ['']

User: 970
Skills: ['']

User: 971
Skills: ['']

User: 973
Skills: ['']

User: 974
Skills: ['']

User: 975
Skills: ['']

User: 976
Skills: ['']

User: 977
Skills: ['']

User: 978
Skills: ['']

User: 979
Skills: ['']

User: 980
Skills: ['']

User: 983
Skills: ['']

User: 984
Skills: ['']

User: 985
Skills: ['']

User: 986
Skills: ['']

User: 987
Skills: ['']

User: 988
Skills: ['']

User: 993
Skills: ['']

User: 995
Skills: ['']

User: 997
Skills: ['']

User: 998
Skills: ['']

User: 999
Skills: ['']

User: 1000
Skills: ['']

User: 1015
Skills: ['']

User: 1024
Skills: ['']

User: 1026
Skills: ['']

User: 1036
Skills: ['']

User: 1042
Skills: ['']

User: 1047
Skills: ['']

User: 1054
Skills: ['']

User: 1057
Skills: ['']

User: 1058
Skills: ['']

User: 1059
Skills: ['']

User: 1067
Skills: ['']

User: 1070
Skills: ['']

User: 1075
Skills: ['']

User: 1079
Skills: ['']

User: 1080
Skills: ['']

User: 1082
Skills: ['']

User: 1084
Skills: ['']

User: 1087
Skills: ['']

User: 1090
Skills: ['']

User: 1091
Skills: ['']

User: 1094
Skills: ['']

User: 1095
Skills: ['']

User: 1096
Skills: ['']

User: 1098
Skills: ['']

User: 1132
Skills: ['']

User: 1134
Skills: ['']

User: 1136
Skills: ['']

User: 1142
Skills: ['']

User: 1145
Skills: ['']

User: 1151
Skills: ['']

User: 1153
Skills: ['']

User: 1155
Skills: ['']

User: 1158
Skills: ['']

User: 1160
Skills: ['']

User: 1161
Skills: ['']

User: 1162
Skills: ['']

User: 1163
Skills: ['']

User: 1164
Skills: ['']

User: 1167
Skills: ['']

User: 1168
Skills: ['']

User: 1169
Skills: ['']

User: 1171
Skills: ['']

User: 1175
Skills: ['']

User: 1180
Skills: ['']

User: 1182
Skills: ['']

User: 1183
Skills: ['']

User: 1186
Skills: ['']

User: 1187
Skills: ['']

User: 1188
Skills: ['']

User: 1192
Skills: ['']

User: 1193
Skills: ['']

User: 1194
Skills: ['']

User: 1195
Skills: ['']

User: 1196
Skills: ['']

User: 1197
Skills: ['']

User: 1199
Skills: ['']

User: 1201
Skills: ['']

User: 1202
Skills: ['']

User: 1203
Skills: ['']

User: 1207
Skills: ['']

User: 1217
Skills: ['']

User: 1223
Skills: ['']

User: 1229
Skills: ['']

User: 1233
Skills: ['']

User: 1235
Skills: ['']

User: 1237
Skills: ['']

User: 1245
Skills: ['']

User: 1246
Skills: ['']

User: 1247
Skills: ['']

In [148]:
linkedin = linkedin[~linkedin['skills'].apply(lambda skills: all(skill.strip() == '' or skill.strip() == '""' or skill.isspace() for skill in skills))]

In [149]:
empty_skills = linkedin['skills'].apply(lambda skills: all(skill.strip() == '' or skill.strip() == '""' or skill.isspace() for skill in skills))
num_empty_skills = empty_skills.sum()
print("Number of users with empty skills:", num_empty_skills)

Number of users with empty skills: 0

In [150]:
print(linkedin)

      userId  industry                                        description  \
0          1        hr  An experienced HR professional,  HR mentor and...
1          2        hr  Head Talent Acquisition, HR Leader and Strateg...
2          3        hr  A Talent Acquisition and HR professional with ...
4          5        hr  Over 18 Years of experience in IT /ITES  / BPO...
5          6        hr  Human Resources Business Partner with a demons...
...      ...       ...                                                ...
1243    1750  aviation                                                NaN
1244    1751  aviation  I am Ritu Roy,born in India. i am an energetic...
1248    1755  aviation  An MBA Graduate specialized in Aviation Manage...
1249    1756  aviation                                                NaN
1250    1757  aviation  Currently I'm pursuing MBA in Aviation Managem...

                                             Experience             Name  \
0     Senior Vice President & Head of HRCompany Name...  Sameer Wadhawan
1     Head of Talent Acquisition - India & APAC and ...   Adarsh Krishna
2     Company NameIBM INDIA Pvt LtdTotal Duration8 y...    Shrivas Mohit
4     Company NameEXLTotal Duration6 yrs 4 mosTitleV...     Rakesh Kumar
5     HR Location Lead and HR Business PartnerCompan...     Yashi Sharma
...                                                 ...              ...
1243  trainee technicianCompany NameTANEJA AEROSPACE...       Joby Raj c
1244  AME Trainee TechnicianCompany NameTaneja Aeros...         Ritu roy
1248  Human Resources ExecutiveCompany NameGoAirDate...  Shubham Pradhan
1249  Institute of Logistics and Aviation management...    Alfiya Shaikh
1250  Executive Revenue ManagerCompany NameHospitali...  ABHISHEK TIWARI

                                               jobTitle  \
0     senior vice president and head of hr- samsung ...
1     head talent acquisition and hr leader for heal...
2                                                hr@ibm
4     vice president - digital hr transformation lea...
5              hr location lead and hr business partner
...                                                 ...
1243                                                 --
1244  ame trainee technician at taneja aerospace and...
1248  hr executive at goair  |  mba graduate\n  spec...
1249  student at institute of logistics and aviation...
1250  pursuing mba in aviation management from insti...

                                                 skills                City  \
0     [performance management, human resources, tale...             gurgaon
1     [talent acquisition, employee engagement, vend...                pune
2     [human resources, recruiting, team management,...           bengaluru
4     [team management, human resources, employee en...       central delhi
5     [human resources, employee engagement, perform...                pune
...                                                 ...                 ...
1243  [social media, 3d studio max, aircraft mainten...  thiruvananthapuram
1244          [civil aviation, overhaul, flight safety]           ahmedabad
1248          [management, goal seek, customer service]              mumbai
1249                             [tally erp, workshops]              mumbai
1250                  [six sigma, management, teamwork]               thane

     Country
0      india
1      india
2      india
4      india
5      india
...      ...
1243   india
1244   india
1248   india
1249   india
1250   india

[801 rows x 9 columns]

In [151]:
linkedin.reset_index(drop=True, inplace=True)

In [152]:
linkedin.shape

(801, 9)

In [153]:
# Shuffle the order of rows in the DataFrame
linkedin = linkedin.sample(frac=1, random_state=42).reset_index(drop=True)

# Display the first few rows of the shuffled DataFrame
print(linkedin.head())

   userId    industry                                        description  \
0    1606  architects                                                NaN
1    1558  architects  Experienced Owner with a demonstrated history ...
2      85   designing                                                NaN
3    1336  automobile  To work in a firm with a professional work dri...
4      91   designing  An author, lecturer, teacher, application engi...

                                          Experience                Name  \
0  Junior ArchitectCompany NameMETRICCHANT DESIGN...       Krati Bhambry
1  OWNER/ FOUNDERCompany NameARCHITECT NAVED DESI...         Naved Patel
2  Industrial Structures -Planning and DesigningC...        SUBODH BHATT
3  EngineerCompany NameAUTOMOBILE ENGINEERING COM...  Vishnu Vishwakarma
4  Founder, Author, TeacherCompany NameConcepts a...       Thom Tremblay

                                            jobTitle  \
0                                          architect
1                  owner/ founder at  and architects
2  industrial structures -planning and designing ...
3             transportation and automobile designer
4      founder/author/designer - concepts and design

                                              skills            City  \
0            [autocad architecture, revit, sketchup]     indore area
1  [interior design, architectural design, mixed-...          mumbai
2    [microsoft office, management, microsoft excel]  ahmedabad area
3  [mechanical engineering, engineering, solidworks]         lucknow
4  [engineering, cad, inventor, manufacturing, st...      little elm

         Country
0          india
1          india
2          india
3          india
4  united states

In [154]:
print(linkedin['userId'])

0      1606
1      1558
2        85
3      1336
4        91
       ...
796     104
797     161
798     390
799    1161
800     157
Name: userId, Length: 801, dtype: int64

In [155]:
linkedin.reset_index(drop=True, inplace=True)

## Model

Content based Filtering:
TF-IDF + cosine Similarity:
You can use TF-IDF (Term Frequency-Inverse Document Frequency) to vectorize the industry and skills features and calculate the cosine similarity between user profiles. This approach can identify users with similar industry and skills profiles.

After trying multiple different models this was the most effective

In [156]:
#training model

def generate_recommendations(linkedin_data, top_k=5):
    # Combine industry, skills, and country into a single text feature for TF-IDF
    linkedin_data['profile'] = linkedin_data['industry'] + ' ' + linkedin_data['skills'].apply(lambda skills: ' '.join(skills))

    # Initialize the TF-IDF vectorizer
    tfidf_vectorizer = TfidfVectorizer()

    # Fit and transform the profile text into TF-IDF features
    tfidf_matrix = tfidf_vectorizer.fit_transform(linkedin_data['profile'])

    # Calculate cosine similarity between user profiles
    cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

    def get_top_recommendations(user_index, cosine_sim, top_k=top_k):
        # Get the cosine similarity scores for the user
        sim_scores = list(enumerate(cosine_sim[user_index]))

        # Sort users based on similarity scores
        sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

        # Get the indices of top recommended users (excluding the user itself)
        top_recommendations = [i for i, _ in sim_scores if i != user_index][:top_k]

        return top_recommendations

    all_recommendations = {}

    for user_index in range(len(linkedin_data)):
        recommendations = get_top_recommendations(user_index, cosine_sim)

        # Convert indices to actual userIds
        user_id = linkedin_data.loc[user_index, 'userId']
        top_recommendation_user_ids = linkedin_data.loc[recommendations, 'userId'].tolist()

        all_recommendations[user_id] = top_recommendation_user_ids

    return all_recommendations

# Example Usage
result = generate_recommendations(linkedin, top_k=5)
print(result)

{1606: [1599, 1583, 1571, 1584, 1592], 1558: [1559, 1560, 1573, 1575, 1604], 85: [71, 234, 1611, 1461, 43], 1336: [1299, 1347, 1350, 1246, 1219], 91: [1132, 939, 320, 343, 975], 1498: [1488, 1496, 1469, 76, 1672], 949: [1206, 936, 306, 136, 1626], 1261: [1264, 1251, 1280, 1420, 1262], 1374: [1372, 1367, 1375, 1365, 1364], 1209: [1239, 1224, 1212, 1215, 1276], 88: [59, 1607, 1576, 51, 1592], 409: [125, 22, 278, 71, 123], 1518: [1524, 1510, 1542, 1541, 1513], 94: [1606, 60, 1739, 1599, 88], 927: [890, 894, 885, 905, 884], 1110: [1608, 1128, 1118, 1204, 1203], 356: [355, 360, 372, 387, 370], 1044: [1042, 1032, 1050, 216, 1512], 1464: [1460, 1469, 1459, 1463, 1496], 1322: [10, 8, 13, 1034, 1396], 1546: [1555, 1540, 1530, 1516, 1521], 1325: [1298, 1246, 1299, 1219, 1559], 1499: [1461, 1496, 1332, 1469, 1468], 1631: [1656, 1615, 1648, 1610, 1622], 972: [940, 978, 207, 953, 1705], 40: [34, 19, 33, 29, 6], 377: [395, 393, 371, 374, 370], 1520: [1524, 1537, 1541, 1530, 1515], 1449: [1224, 1212, 1239, 1242, 1209], 1396: [8, 13, 1034, 10, 6], 323: [1118, 1128, 935, 1204, 1608], 120: [934, 308, 933, 1132, 311], 1414: [1439, 1419, 1441, 1433, 1444], 1051: [335, 1303, 1437, 433, 133], 51: [61, 1604, 1560, 1663, 73], 29: [19, 41, 33, 18, 2], 1569: [1567, 1575, 1573, 1560, 1593], 1115: [1113, 1147, 1300, 340, 1246], 1751: [1748, 1713, 1716, 1734, 1729], 1455: [1415, 1447, 1411, 1439, 1419], 212: [224, 201, 217, 1651, 214], 364: [355, 376, 369, 372, 356], 269: [1185, 1253, 1149, 1133, 1139], 910: [919, 902, 1286, 304, 1431], 1439: [1414, 1419, 1450, 1433, 1444], 1320: [952, 1246, 1213, 1299, 1219], 1146: [1100, 1126, 1150, 1128, 1124], 1441: [1414, 1455, 1439, 1447, 1419], 1685: [1680, 1707, 234, 85, 1611], 1339: [1434, 1333, 1210, 942, 1343], 384: [306, 935, 402, 1621, 1128], 165: [157, 160, 158, 184, 154], 1557: [1530, 1540, 1516, 1521, 1515], 420: [426, 974, 1154, 415, 433], 939: [311, 934, 968, 313, 324], 1030: [981, 1418, 1050, 423, 1032], 1192: [1191, 1133, 1139, 1129, 1190], 936: [324, 954, 968, 351, 1206], 304: [1286, 968, 939, 1431, 978], 263: [266, 257, 291, 273, 252], 1248: [1262, 1264, 1251, 1212, 43], 1633: [1647, 1621, 1629, 1645, 1650], 1542: [1532, 1518, 1510, 1524, 1514], 440: [1403, 1384, 1404, 1383, 1395], 339: [353, 313, 342, 330, 437], 1144: [1201, 1118, 1203, 1148, 1142], 63: [73, 131, 55, 1683, 1160], 1739: [1734, 1716, 1729, 1723, 1728], 967: [1126, 1100, 1128, 1204, 1146], 129: [1686, 935, 1637, 380, 974], 1571: [1580, 1560, 1575, 1606, 1559], 295: [272, 301, 283, 1475, 953], 1750: [1607, 1715, 1592, 1718, 1743], 43: [22, 234, 85, 1611, 1461], 41: [19, 33, 29, 21, 5], 305: [29, 954, 119, 121, 170], 979: [1143, 964, 1721, 1717, 1343], 1254: [1420, 1236, 1264, 1251, 1221], 1437: [1409, 1439, 133, 1419, 1417], 1391: [1381, 1378, 1359, 1390, 1066], 1151: [1189, 1133, 1139, 1191, 1157], 207: [972, 219, 236, 234, 220], 105: [111, 961, 136, 936, 133], 119: [121, 11, 33, 3, 19], 1300: [1246, 1304, 1299, 1219, 1253], 1366: [1372, 1384, 1404, 1395, 1407], 1738: [1734, 1723, 1630, 1640, 1712], 395: [383, 379, 371, 368, 377], 974: [1612, 1654, 1608, 1630, 1637], 145: [1368, 447, 450, 1048, 927], 1596: [1568, 22, 278, 71, 123], 1625: [1612, 1647, 1654, 1621, 1630], 402: [1118, 384, 397, 1128, 1203], 1106: [1102, 1130, 1201, 1142, 1118], 1511: [1512, 1532, 1514, 1519, 1542], 1462: [409, 1688, 1496, 1469, 1464], 1615: [1631, 1656, 1648, 1610, 1622], 1683: [73, 63, 55, 131, 1573], 71: [85, 22, 278, 123, 1707], 1677: [1696, 1049, 1417, 1111, 1129], 241: [134, 197, 127, 188, 132], 1158: [1205, 937, 1651, 1609, 1624], 146: [127, 138, 114, 110, 122], 180: [197, 196, 132, 188, 943], 115: [186, 1511, 114, 182, 129], 311: [939, 1286, 178, 192, 968], 961: [105, 111, 1741, 1723, 331], 1705: [953, 978, 1666, 968, 1696], 316: [954, 1367, 328, 337, 959], 981: [182, 1418, 939, 178, 311], 1148: [1201, 1130, 1102, 1144, 1142], 1305: [1216, 1246, 1299, 1219, 1300], 126: [1621, 1608, 1629, 1637, 1647], 12: [179, 1677, 1050, 18, 20], 1630: [1654, 1612, 1647, 1621, 1618], 166: [1376, 1637, 133, 935, 974], 1312: [1309, 1246, 397, 1299, 1219], 1725: [1715, 1728, 1734, 1747, 1748], 317: [328, 337, 935, 306, 1128], 345: [334, 20, 1514, 1519, 427], 890: [894, 885, 927, 884, 883], 1096: [1126, 1201, 1130, 1118, 1146], 178: [177, 182, 311, 939, 192], 1629: [1612, 1608, 1623, 1621, 1647], 318: [962, 328, 337, 324, 327], 370: [371, 393, 386, 403, 396], 1600: [1599, 1588, 1596, 1568, 250], 39: [33, 119, 121, 8, 13], 385: [370, 371, 403, 396, 374], 1348: [55, 59, 96, 1573, 1324], 1734: [1723, 1716, 1729, 1747, 1739], 423: [1418, 981, 427, 1436, 1030], 123: [22, 278, 71, 1707, 1360], 1590: [1596, 1568, 1268, 125, 1385], 430: [429, 427, 428, 439, 424], 1288: [1264, 1251, 1280, 1261, 1420], 1585: [325, 1422, 216, 41, 3], 888: [890, 894, 927, 905, 885], 1679: [1684, 1655, 1197, 1255, 1666], 1128: [1118, 1204, 1608, 306, 1110], 319: [954, 336, 437, 313, 170], 1333: [1434, 1343, 1340, 1250, 1350], 1250: [1333, 1343, 1350, 1434, 1332], 326: [314, 331, 330, 309, 963], 9: [939, 313, 28, 159, 162], 1220: [1497, 1757, 1712, 1210, 1048], 156: [189, 184, 157, 1164, 176], 926: [908, 905, 335, 889, 928], 1319: [1213, 1237, 1243, 439, 1246], 1343: [1333, 1143, 1250, 1350, 979], 1525: [1534, 1518, 1538, 1527, 1528], 3: [119, 121, 21, 35, 29], 1653: [1617, 1627, 1656, 1622, 1638], 1723: [1741, 1734, 1716, 1729, 1727], 1612: [1654, 1618, 1616, 1630, 1608], 1431: [963, 309, 351, 938, 939], 1756: [1548, 1734, 1716, 1729, 1723], 1661: [1666, 220, 370, 1705, 1680], 1302: [1225, 307, 1246, 1219, 1357], 1562: [1559, 1604, 1560, 1558, 61], 383: [379, 395, 386, 371, 376], 1474: [1496, 1469, 1464, 1459, 1468], 931: [908, 905, 928, 886, 889], 945: [968, 938, 437, 351, 313], 1107: [1157, 1147, 1191, 1161, 1133], 121: [119, 11, 33, 3, 19], 224: [212, 207, 219, 236, 234], 954: [313, 437, 959, 276, 1306], 1050: [1041, 1032, 1036, 42, 1047], 1185: [1149, 1133, 1139, 1253, 269], 452: [433, 429, 427, 415, 428], 1617: [1653, 1627, 1656, 1622, 1638], 200: [184, 157, 154, 176, 165], 1049: [939, 954, 934, 324, 885], 321: [1242, 1447, 332, 954, 1049], 1547: [1516, 1521, 1515, 1537, 1550], 73: [63, 1573, 55, 1559, 1560], 1650: [1647, 1621, 1645, 1630, 1623], 1461: [1499, 234, 85, 1611, 1496], 1418: [1231, 981, 423, 1030, 1439], 1534: [1526, 1516, 1521, 1555, 1530], 1323: [1575, 59, 1580, 57, 1560], 302: [1537, 1218, 1550, 1433, 1527], 1623: [1629, 1621, 1647, 1645, 1612], 1592: [1607, 1750, 1583, 1606, 88], 80: [81, 1576, 1161, 51, 1569], 1535: [1242, 401, 1447, 1527, 1528], 1514: [1519, 1512, 345, 20, 1532], 1157: [1191, 1133, 1139, 1161, 1149], 1453: [1205, 125, 136, 1206, 133], 1188: [1117, 1191, 1157, 1133, 1139], 1163: [1191, 1133, 1139, 1129, 1190], 360: [355, 356, 373, 372, 387], 1424: [1551, 1264, 1251, 1261, 1420], 1395: [1404, 1364, 1384, 1401, 1372], 134: [188, 197, 132, 127, 190], 1537: [1550, 1524, 1547, 1520, 302], 277: [251, 258, 294, 252, 298], 1745: [1734, 1590, 136, 125, 1532], 1527: [1528, 1517, 1526, 1524, 1537], 414: [429, 1666, 347, 203, 331], 248: [56, 1684, 1688, 96, 1666], 97: [409, 71, 1205, 125, 1453], 1308: [1376, 1246, 1299, 1219, 1300], 197: [188, 134, 180, 132, 196], 57: [59, 1560, 1576, 1559, 1571], 99: [60, 1416, 327, 1367, 331], 1595: [1604, 51, 61, 1563, 3], 964: [1143, 979, 1721, 1717, 935], 1190: [1161, 1149, 1191, 1133, 1139], 1696: [1111, 1705, 1677, 390, 1673], 203: [414, 224, 348, 1569, 1567], 124: [196, 159, 162, 1120, 174], 258: [298, 293, 287, 271, 264], 257: [291, 273, 263, 266, 253], 38: [21, 3, 1422, 29, 33], 1195: [1149, 1185, 1253, 1125, 1191], 297: [275, 272, 1634, 301, 295], 349: [967, 1100, 1128, 1134, 1126], 1311: [1246, 1299, 1219, 1300, 1298], 1642: [1647, 1630, 1612, 1645, 1618], 205: [216, 1322, 207, 1474, 219], 1553: [1532, 1514, 1519, 1512, 1542], 884: [883, 905, 890, 894, 928], 213: [5, 179, 182, 177, 34], 1237: [1243, 439, 1246, 1299, 1347], 8: [13, 45, 19, 1034, 1396], 1638: [1646, 1619, 1635, 1614, 1653], 1684: [1679, 1688, 248, 1666, 1664], 110: [122, 123, 125, 1117, 1268], 1711: [1723, 1726, 1734, 1716, 1729], 427: [345, 20, 1514, 1519, 334], 218: [246, 251, 279, 292, 303], 418: [412, 1250, 429, 415, 1133], 343: [1132, 975, 320, 91, 323], 328: [337, 1644, 126, 1128, 1608], 1198: [1205, 1197, 1168, 937, 1158], 1048: [1757, 1220, 145, 1050, 942], 198: [158, 184, 157, 176, 165], 1042: [50, 1044, 1034, 1040, 45], 1122: [1102, 1204, 1128, 1110, 1130], 1316: [1304, 1300, 340, 1115, 1113], 1673: [1664, 1663, 1698, 1604, 61], 1149: [1185, 1253, 1190, 1125, 1161], 53: [1672, 76, 1488, 1498, 1470], 1270: [1261, 1513, 1444, 1548, 1280], 163: [196, 1229, 184, 157, 180], 947: [136, 133, 1453, 1205, 1206], 75: [1739, 168, 56, 76, 58], 376: [355, 383, 379, 395, 356], 1245: [1248, 1268, 1280, 1303, 1264], 1508: [1530, 1529, 1541, 1524, 1515], 335: [331, 330, 276, 1409, 954], 320: [342, 975, 343, 333, 311], 1436: [1415, 1432, 1447, 1218, 7], 935: [306, 962, 1612, 1637, 1644], 33: [41, 19, 29, 119, 121], 1728: [1715, 1748, 1718, 1743, 1731], 959: [954, 1375, 331, 437, 330], 966: [946, 978, 953, 1705, 968], 66: [935, 126, 1128, 306, 962], 934: [939, 313, 327, 324, 950], 1646: [1638, 1619, 1635, 1614, 1653], 1510: [1524, 1518, 1433, 1542, 1520], 1280: [1264, 1251, 1262, 1261, 1263], 937: [1205, 234, 22, 85, 278], 407: [954, 437, 313, 1411, 1409], 22: [278, 71, 123, 43, 1707], 1420: [1264, 1251, 1254, 1262, 1280], 1672: [1488, 76, 1498, 53, 1683], 125: [136, 133, 123, 1453, 138], 81: [80, 1576, 1161, 51, 1569], 1218: [302, 1411, 1537, 1550, 1415], 415: [426, 404, 433, 418, 412], 1193: [1131, 1137, 1157, 1191, 1161], 278: [22, 71, 123, 1707, 1360], 1407: [1388, 1387, 1384, 1404, 1390], 1278: [1539, 1411, 1218, 1517, 1263], 331: [330, 326, 314, 309, 963], 1147: [1115, 1113, 1300, 1161, 340], 1225: [1302, 1246, 307, 1300, 1219], 902: [889, 919, 910, 345, 908], 928: [905, 886, 884, 883, 906], 1189: [1151, 1111, 1157, 1191, 1161], 1264: [1251, 1280, 1261, 1262, 1420], 271: [293, 287, 264, 270, 265], 1362: [1237, 1243, 1372, 1367, 1340], 977: [1680, 1117, 937, 1385, 978], 253: [291, 298, 252, 264, 258], 361: [373, 387, 372, 355, 356], 1309: [1152, 1312, 397, 1341, 155], 1620: [1644, 1621, 1612, 1647, 1608], 111: [105, 961, 136, 936, 133], 1496: [1469, 1461, 1464, 1498, 1499], 1124: [1150, 1134, 1148, 1146, 1201], 159: [162, 9, 311, 28, 177], 170: [954, 230, 959, 319, 313], 428: [427, 328, 337, 1128, 66], 138: [125, 136, 1588, 133, 123], 1130: [1201, 1102, 1142, 1118, 1203], 133: [136, 125, 1205, 1453, 123], 1324: [1299, 1336, 1340, 340, 1376], 1647: [1621, 1612, 1630, 1654, 1629], 1659: [1666, 1705, 1680, 1664, 1696], 1409: [348, 1437, 335, 330, 1416], 1273: [1276, 1257, 1264, 1251, 1262], 1268: [22, 278, 71, 123, 1596], 13: [8, 45, 19, 1034, 1396], 1159: [1133, 1139, 1191, 1157, 1129], 56: [96, 1739, 248, 76, 58], 55: [1573, 1560, 59, 1559, 73], 261: [271, 303, 265, 260, 252], 1613: [1653, 1617, 1627, 1631, 1656], 1747: [1715, 1734, 1718, 1743, 1728], 1131: [1137, 1129, 1193, 1191, 1133], 273: [257, 291, 271, 263, 266], 1329: [968, 978, 437, 1350, 938], 1541: [1530, 1524, 1515, 1555, 1546], 272: [301, 295, 283, 1512, 953], 1371: [1372, 1404, 1375, 1384, 1401], 1644: [1621, 1608, 126, 1620, 935], 373: [372, 360, 392, 355, 356], 1707: [22, 278, 71, 123, 1680], 1357: [1225, 1302, 307, 1336, 1333], 19: [41, 33, 29, 11, 18], 5: [41, 33, 2, 19, 29], 938: [978, 945, 309, 963, 1431], 372: [373, 356, 355, 392, 387], 1416: [348, 331, 327, 330, 326], 1191: [1157, 1133, 1139, 1161, 1149], 941: [948, 437, 968, 351, 963], 1244: [1488, 1198, 132, 57, 59], 1137: [1131, 1129, 1193, 1191, 1133], 1524: [1510, 1520, 1537, 1518, 1541], 1634: [1633, 974, 1341, 1644, 1650], 917: [905, 928, 886, 899, 96], 1210: [1497, 1712, 1220, 1749, 1339], 11: [19, 119, 121, 33, 29], 362: [367, 387, 1205, 383, 379], 28: [9, 159, 162, 25, 200], 329: [437, 313, 954, 935, 351], 1363: [1737, 1225, 1728, 1715, 1718], 1593: [1575, 1573, 1559, 1560, 1580], 1735: [1734, 1747, 1745, 1716, 1729], 1512: [1514, 1519, 345, 20, 334], 943: [144, 196, 180, 110, 122], 1563: [1111, 345, 20, 1514, 1519], 309: [327, 963, 331, 330, 351], 347: [1666, 319, 331, 330, 326], 141: [1190, 184, 138, 114, 110], 1332: [22, 278, 71, 123, 1707], 975: [342, 313, 939, 1132, 320], 1359: [1390, 1378, 1382, 1381, 1391], 406: [404, 429, 440, 16, 1250], 280: [265, 260, 271, 279, 303], 1536: [1541, 1527, 1528, 1547, 1530], 1111: [1157, 1189, 1129, 1133, 1139], 236: [1436, 6, 7, 35, 213], 114: [345, 20, 1514, 1519, 272], 1204: [1118, 1128, 1201, 1110, 1203], 1604: [61, 1560, 1663, 51, 1570], 397: [402, 371, 374, 368, 403], 96: [56, 64, 59, 55, 1348], 1303: [1588, 1245, 1681, 1246, 1437], 291: [253, 264, 257, 258, 293], 391: [368, 374, 403, 396, 380], 346: [331, 330, 326, 1416, 348], 132: [134, 197, 180, 191, 188], 1578: [1606, 1570, 1584, 1580, 1569], 177: [178, 182, 311, 939, 192], 189: [156, 184, 410, 157, 176], 1729: [1734, 1716, 1723, 1739, 1748], 413: [60, 959, 1367, 1375, 1374], 348: [330, 1416, 1409, 331, 314], 1: [33, 41, 29, 40, 19], 1746: [1734, 1747, 1745, 1716, 1729], 1451: [1433, 409, 243, 22, 278], 1624: [1653, 1617, 1627, 1609, 1651], 1221: [1280, 1264, 1251, 1261, 1236], 398: [376, 391, 355, 368, 374], 1503: [1468, 1496, 1469, 1464, 1459], 176: [334, 196, 283, 184, 157], 336: [319, 342, 328, 337, 1128], 1388: [1387, 1407, 1390, 1359, 1391], 1142: [1130, 1201, 1118, 1203, 1102], 1160: [1106, 131, 63, 1110, 1100], 394: [392, 355, 372, 356, 383], 899: [905, 928, 886, 890, 894], 1367: [1375, 1364, 954, 959, 1374], 217: [214, 212, 201, 1677, 945], 1412: [1439, 1419, 1450, 1273, 1414], 1648: [1631, 1656, 1615, 1610, 1622], 1636: [1390, 1382, 1359, 1381, 1378], 1422: [119, 121, 3, 21, 35], 1031: [1036, 1050, 1041, 1032, 1316], 387: [356, 355, 372, 373, 392], 1390: [1382, 1359, 1381, 1407, 1636], 447: [145, 1368, 450, 440, 1383], 883: [884, 905, 890, 894, 928], 1201: [1130, 1118, 1203, 1102, 1142], 59: [57, 88, 1576, 55, 1575], 953: [1705, 978, 959, 968, 272], 1034: [8, 13, 1396, 11, 19], 1539: [1278, 1517, 1544, 1527, 1528], 378: [371, 377, 374, 368, 403], 301: [272, 295, 283, 953, 275], 1757: [1220, 1048, 1734, 1723, 1716], 1567: [1569, 1575, 1573, 1560, 1593], 162: [159, 9, 311, 28, 177], 78: [1739, 349, 1644, 56, 76], 1712: [1497, 1210, 1220, 1749, 1734], 1183: [314, 326, 330, 331, 1127], 155: [184, 157, 1625, 176, 165], 1243: [1237, 439, 1246, 1299, 1347], 1628: [1653, 1617, 1627, 1610, 1631], 1419: [1439, 1414, 1433, 1450, 1455], 1651: [1624, 1609, 1653, 1617, 1627], 275: [278, 234, 283, 85, 1248], 437: [954, 313, 351, 329, 309], 1152: [1100, 1110, 1150, 1608, 1118], 1289: [1280, 1264, 1251, 1262, 1261], 1716: [1734, 1729, 1723, 1751, 1739], 225: [1346, 931, 1198, 1205, 1158], 188: [197, 134, 190, 191, 184], 1517: [1527, 1528, 302, 1539, 1510], 1607: [1592, 1750, 1583, 88, 59], 282: [271, 303, 265, 260, 252], 1350: [1336, 1333, 1329, 1343, 1434], 64: [96, 55, 73, 76, 63], 1255: [1168, 1197, 1118, 1608, 1341], 1743: [1715, 1718, 1728, 1731, 1748], 1253: [1149, 1185, 1125, 269, 1300], 906: [905, 928, 884, 883, 886], 962: [935, 306, 1128, 954, 1132], 1654: [1612, 1630, 1647, 1608, 1629], 215: [161, 1534, 169, 207, 219], 1032: [1050, 1041, 136, 1512, 234], 214: [217, 201, 212, 1688, 211], 1116: [1118, 1201, 1203, 1144, 1130], 380: [374, 403, 396, 368, 393], 905: [928, 884, 883, 886, 906], 23: [14, 1310, 43, 20, 39], 267: [258, 275, 272, 301, 295], 1544: [1515, 1516, 1521, 1541, 1527], 885: [890, 894, 884, 883, 928], 1102: [1130, 1201, 1142, 1148, 1118], 1663: [1604, 61, 51, 1560, 1673], 14: [33, 39, 41, 6, 18], 1126: [1100, 1146, 1128, 967, 1110], 1127: [1129, 1190, 1105, 1131, 1137], 439: [1237, 1243, 307, 424, 1246], 963: [309, 331, 1431, 330, 351], 34: [40, 6, 2, 37, 29], 1443: [1264, 1251, 1261, 1420, 1239], 264: [293, 287, 271, 270, 291], 50: [45, 37, 42, 46, 8], 270: [293, 287, 264, 271, 298], 358: [393, 371, 125, 403, 396], 426: [415, 420, 433, 404, 203], 1559: [1560, 1562, 1558, 1573, 1575], 1136: [1158, 1205, 1609, 1624, 1651], 1364: [1395, 1367, 1401, 1375, 1404], 392: [355, 372, 356, 373, 383], 1570: [1604, 1560, 1580, 51, 1663], 239: [333, 939, 320, 1043, 1046], 190: [188, 197, 134, 132, 191], 1197: [1168, 1255, 1198, 1201, 1130], 1401: [1404, 1395, 1372, 1364, 1359], 944: [978, 331, 953, 1705, 330], 1154: [1110, 1152, 1608, 1629, 1341], 410: [184, 154, 189, 176, 157], 169: [165, 158, 157, 161, 154], 1276: [1215, 1224, 1239, 1280, 1264], 268: [280, 294, 270, 293, 287], 970: [967, 126, 933, 1655, 1621], 1249: [1318, 1436, 159, 162, 423], 76: [1672, 1488, 1498, 73, 53], 1555: [1546, 1540, 1530, 1516, 1521], 330: [331, 314, 326, 348, 309], 401: [1373, 1517, 1433, 1535, 302], 21: [3, 33, 41, 18, 19], 191: [188, 136, 197, 97, 1205], 908: [926, 889, 890, 894, 905], 371: [393, 386, 403, 396, 395], 1346: [334, 131, 345, 1332, 1206], 1230: [1280, 1224, 1239, 1264, 1251], 1444: [1524, 1510, 1433, 1439, 1513], 1227: [1262, 1224, 1263, 1242, 7], 1727: [1723, 954, 1734, 348, 1741], 293: [287, 270, 264, 271, 298], 174: [311, 177, 159, 162, 178], 1306: [954, 328, 337, 437, 1367], 1619: [1638, 1646, 1635, 1614, 1653], 1340: [1333, 1343, 1324, 91, 1250], 143: [1115, 1113, 340, 129, 908], 276: [954, 345, 335, 334, 331], 429: [954, 276, 437, 313, 959], 1475: [1468, 1479, 295, 1496, 1469], 1417: [1409, 348, 1212, 1437, 890], 1432: [1420, 1415, 1254, 1411, 1373], 1686: [974, 1654, 129, 1644, 1621], 1376: [340, 166, 335, 1324, 1115], 1618: [1616, 1612, 1630, 1621, 1654], 1353: [1332, 97, 1333, 1343, 1329], 7: [1262, 1263, 11, 1230, 1264], 1737: [1363, 1225, 1734, 1302, 307], 58: [1191, 1157, 1161, 1133, 1139], 1635: [1638, 1646, 1619, 1614, 1653], 246: [251, 279, 292, 218, 303], 1459: [1460, 1464, 1463, 1496, 1469], 266: [263, 257, 291, 273, 252], 20: [345, 1514, 1519, 427, 43], 1299: [1246, 1219, 1336, 1300, 1304], 61: [51, 1604, 1663, 1560, 57], 1721: [1717, 1143, 979, 964, 1343], 1304: [1316, 1300, 1246, 1299, 1219], 1470: [1467, 1497, 1468, 1459, 1464], 1246: [1219, 1300, 1299, 1304, 1225], 404: [406, 415, 1250, 429, 433], 1341: [1608, 1621, 1629, 1612, 126], 333: [342, 320, 336, 1132, 437], 35: [3, 119, 121, 1422, 11], 1513: [1541, 1530, 1524, 1515, 1548], 1164: [1657, 1647, 1630, 1142, 1201], 978: [968, 938, 1705, 1329, 953], 337: [328, 1644, 126, 1128, 1608], 48: [3, 38, 27, 41, 35], 1715: [1718, 1743, 1728, 1725, 1747], 1041: [154, 1450, 25, 1140, 1050], 1229: [163, 1333, 1343, 1250, 1350], 1717: [1721, 1143, 979, 964, 1343], 1580: [1560, 1575, 1571, 1559, 1593], 1434: [1333, 942, 1339, 1350, 1343], 298: [252, 293, 287, 253, 258], 1583: [1599, 1606, 1592, 1584, 1571], 1599: [1606, 1583, 1600, 1571, 250], 1283: [1263, 1411, 1257, 1280, 170], 1720: [1275, 1734, 334, 1747, 1745], 1560: [1559, 1575, 1580, 1604, 1571], 1718: [1715, 1743, 1728, 1731, 1748], 252: [303, 298, 265, 260, 253], 1552: [1537, 1550, 1547, 1527, 1528], 235: [220, 207, 219, 236, 234], 1375: [1367, 959, 1365, 1374, 954], 1749: [313, 340, 954, 1242, 950], 1468: [1475, 1496, 1469, 1464, 1499], 167: [1283, 182, 169, 159, 162], 334: [345, 234, 22, 85, 278], 1656: [1631, 1653, 1617, 1627, 1622], 158: [165, 169, 157, 160, 168], 1143: [1125, 964, 979, 1721, 1717], 1140: [25, 1041, 1148, 154, 1450], 179: [154, 213, 182, 157, 177], 69: [306, 1128, 323, 328, 337], 234: [243, 85, 1611, 1461, 43], 1121: [1133, 1139, 1157, 1151, 1191], 1681: [1303, 1588, 138, 1680, 1245], 315: [331, 330, 326, 1416, 348], 1572: [1573, 1559, 1560, 1575, 1593], 1528: [1527, 1517, 1526, 1524, 1537], 10: [18, 8, 13, 6, 41], 1538: [963, 1518, 1532, 1514, 1519], 47: [19, 40, 325, 18, 35], 1203: [1118, 1201, 1130, 1142, 1102], 369: [355, 356, 387, 392, 372], 433: [954, 437, 313, 427, 429], 1497: [1712, 1210, 1220, 1470, 1467], 1415: [1455, 1447, 1411, 1433, 1373], 1425: [1439, 1420, 1419, 1414, 348], 379: [383, 395, 386, 371, 376], 424: [439, 1237, 1243, 1362, 427], 1133: [1139, 1185, 1157, 1191, 1161], 230: [170, 319, 962, 313, 1128], 1519: [1514, 1512, 345, 20, 1532], 1622: [1656, 1653, 1617, 1627, 1631], 1365: [1367, 1375, 1374, 1372, 1368], 1256: [1246, 1219, 1225, 1606, 1302], 220: [403, 39

Since we dont have the actual recommendations or connections were going to use proxy metric
Proxy Metrics:

Even without actual user behavior, you can use proxy metrics to assess the quality of your recommendations. For example:
Coverage: Measure how many unique users are covered by your recommendations.
Diversity: Check the diversity of your recommendations across users.
Novelty: Evaluate how novel or unexpected your recommendations are.
do this on the above model

In [157]:
total_users = len(linkedin['userId'])
covered_users = len(set(user_id for recommendations in result.values() for user_id in recommendations))
coverage = covered_users / total_users * 100

print(f"Coverage: {coverage:.2f}%")

Coverage: 85.02%

In [158]:
all_industries = set(linkedin['industry'])
all_skills = set(skill for skills in linkedin['skills'] for skill in skills)

diversity_scores = []

for recommendations in result.values():
    recommended_industries = set(linkedin.loc[linkedin['userId'].isin(recommendations), 'industry'])
    recommended_skills = set(skill for skills in linkedin.loc[linkedin['userId'].isin(recommendations), 'skills'] for skill in skills)

    industry_diversity = len(recommended_industries) / len(all_industries)
    skill_diversity = len(recommended_skills) / len(all_skills)

    diversity_scores.append((industry_diversity + skill_diversity) / 2)

average_diversity = sum(diversity_scores) / len(diversity_scores)

print(f"Diversity: {average_diversity:.2f}")

Diversity: 0.05

In [159]:
def get_popularity_score(item):
    # For simplicity, using the number of times an item is recommended
    return np.sum(all_recommendations_array == item)


def calculate_novelty(recommendations_array):
    # Flatten the recommendations array
    all_recommendations_array = np.concatenate(recommendations_array)

    # Calculate popularity scores for each item
    popularity_scores = np.array([get_popularity_score(item) for item in np.unique(all_recommendations_array)])

    # Calculate novelty as the inverse of the average popularity score
    novelty_score = 1 / np.mean(popularity_scores)

    return novelty_score


all_recommendations_array = np.array(list(result.values()))

# Calculate novelty
novelty_score = calculate_novelty(all_recommendations_array)

print(f"Novelty Score: {novelty_score*100:.2f}%")

Novelty Score: 17.00%

In [160]:
#TESTING MODEL

# Initialize the TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer()
    
# Fit and transform the profile text into TF-IDF features
tfidf_matrix = tfidf_vectorizer.fit_transform(linkedin['profile'])
    
# Calculate cosine similarity between user profiles
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
    
def get_top_recommendations(user_index,top_k=5):
    # Get the cosine similarity scores for the user
    sim_scores = list(enumerate(cosine_sim[user_index]))

    # Sort users based on similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the indices of top recommended users (excluding the user itself)
    top_recommendations = [i for i, _ in sim_scores if i != user_index][:top_k]

    return top_recommendations

user=23
recommendations = get_top_recommendations(user)
print(f"Recommendations for userId: '{user}' are:\n{recommendations}")

Recommendations for userId: '23' are:
[548, 96, 391, 715, 574]

In [161]:
import joblib

# Save the model
joblib.dump(get_top_recommendations, 'model.joblib')
# Save the TF-IDF vectorizer
joblib.dump(tfidf_vectorizer, 'tfidf_vectorizer.joblib')
# Save the cosine similarity matrix
joblib.dump(cosine_sim, 'cosine_similarity_matrix.joblib')

['cosine_similarity_matrix.joblib']